---
import Main from "../layouts/main.astro";
import ExperienceContent from "../components/experienceContent.astro";
---

<Main title="Ashley's Experience" description="Things I've done, places I've worked, and projects I've worked on.">
  <h1>Experience</h1>
  <ExperienceContent />
</Main>
