---
import Main from "../layouts/main.astro";
import ExperienceContent from "../components/experienceContent.astro";
import BlogContent from "../components/blogContent.astro";
import AboutMe from '../components/aboutMeSummary.astro';
---

<Main title="Ashley's Corner" description="The internet has many strange and wonderful corners, but this one is mine 🦄✨">
  <div class="container">
    <p class="center">
      <em>
        The internet has many strange and wonderful corners, but this one is
        mine 🦄✨
      </em>
    </p>
    <hr/>
    <h1 class="center">
      Hi, I'm <b class="accent">Ashley</b>! 👋
    </h1>
    <p class="center">
      I'm many things, but mostly, I'm a massive nerd who likes to make stuff.
    </p>
    <hr/>
  </div>
  <div class="container wide">
    <div class="triple-section">
      <div class="desktop-only">
        <h2>Stuff I did</h2>
        <ExperienceContent/>
      </div>
      <div>
        <h2>Stuff I am</h2>
        <AboutMe/>
      </div>
      <div>
        <h2>Stuff I wrote</h2>
        <BlogContent/>
      </div>
      <div class="mobile-only">
        <h2>Stuff I did</h2>
        <ExperienceContent/>
      </div>
    </div>
  </div>
</Main>
<style>
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    border: 1px solid var(--accent);
  }

  .triple-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    width: calc(100% - 4rem);

    & > * {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: column;
      text-align: justify;

      & > :first-child {
        border-bottom: 1px solid var(--accent);
        width: 100%;
        margin-bottom: 0.5rem;
        text-align: center;
      }
    }
  }

  ul,
  li {
    text-align: left;
  }

  .center {
    text-align: center;
  }

  @media (width < 768px) {
    .triple-section {
      grid-template-columns: 1fr;
    }
  }
</style>
