---
import Main from "../layouts/main.astro";
import BlogContent from "../components/blogContent.astro";
---

<Main>
  <h1>Posts</h1>
  <p>
    Here, have some random <span class="tag">#content</span> about things I've seen
    and done 🤓
  </p>
  <BlogContent />
</Main>
