---

---

<div>
  <p>
    Hi there (again)! I'm Ashley, a twenty-something year old nerd with ADHD
    from the land down under. I'm a software engineer by trade, but I like to
    work with all kinds of interesting projects.
  </p>
  <p>
    In my spare time, you'll catch me dabbling with crafty things and cosplay,
    writing code for projects I'll never finish, hanging out with my friends,
    doing heaps and heaps of pole dancing (you should try it!), or just playing
    all kinds of different games.
  </p>
  <p>
    I'v also studied computing at the <a href="https://anu.edu.au"
      >Australian National University</a
    >, and spent a lot of time hanging out with the awesome folks over at the <a
      href="https://cssa.club">ANU CSSA</a
    >.
  </p>
  <div>
    I'm also a massive nerd in the other sense of the word, I'm a big fan of a
    ton of different things, everything from How to Train Your Dragon to She-Ra<span
      class="accent">*</span
    >, and if you let me, I'll probably spend hours geeking out to you about
    them.
    <div style="margin-bottom: 0.5rem;"></div>
    <small style="width: 100%">
      <span class="accent">*</span> Yes, I'm queer, how did you guess?
    </small>
  </div>
</div>
