---
import { getCollection } from "astro:content";
import Main from "../../layouts/main.astro";
export async function getStaticPaths() {
  const posts = await getCollection("experience");
  return posts.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Main>
  <h1>{entry.data.where} - {entry.data.what}</h1>
  <Content />
</Main>
