---
import "@fontsource/rokkitt/400.css";
import "@fontsource/rokkitt/700.css";
import Footer from "../components/footer.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <style is:global>
      :root {
        font-size: 1.1rem;
      }

      * {
        font-family: "Rokkitt", monospace;
      }

      @property --background {
        syntax: "<color>";
        inherits: false;
        initial-value: #242432;
      }

      body {
        background-color: var(--background);
        color: #d5cabd;
        margin: 0;
        position: relative;
        left: 0;
        top: 0;
        & > div {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 30px;
          & > div:first-child {
            padding: 20px;
          }
          & > * {
            flex-shrink: 1;
          }
        }
      }

      a {
        color: #f3beeb;
        text-decoration-style: dashed;
          text-decoration-thickness: from-font;

        &:hover {
          text-decoration-style: solid;
        }
      }

      @property --accent {
        syntax: "<color>";
        inherits: false;
        initial-value: #e987e0;
      }

      .accent {
        color: var(--accent);
      }

      article.main {
        flex-direction: column;
        display: flex;
        align-items: center;
        overflow-x: auto;
        & > * {
          max-width: 600px;
          &.wide {
            max-width: 1100px;
          }
        }
      }

      .tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.5em;
      }
      .tag {
        background-color: var(--accent);
        padding: 2px 5px;
        color: black;
      }

      /* Desktop-only and mobile-only styles */
      @media (width >= 768px) {
        .mobile-only {
          display: none !important;
        }
      }
      @media (width < 768px) {
        .desktop-only {
          display: none !important;
        }
      }
    </style>
  </head>
  <body>
    <div>
      <div>
        <slot />
      </div>
      <div>
        <Footer />
      </div>
    </div>
  </body>
</html>
